/*ont-family: 'Kumar One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;*/

h1 {
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}

h2,h3,h4,h5 {
    font-family: 'Kumar One', cursive;
}

.card-block h4 {
    font-family: 'Lobster', cursive;
}

::selection {
    color: #fff;
    background:	#008B8B;
}
::-moz-selection {
    color: #fff;
    background:	#008B8B;
}

.card {
    margin-bottom: 20px;
}

.header, .info, .footer {
    margin-top: 20px;
    margin-bottom: 20px;
}


body{
    font-family: 'Josefin Sans', sans-serif;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-37deg, #DB3370, #20B2AA, #7FFFD4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-37deg, #DB3370, #20B2AA, #7FFFD4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-37deg, #DB3370, #20B2AA, #7FFFD4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-37deg,  #DB3370, #20B2AA, #7FFFD4); /* Standard syntax */

    -webkit-background-size: 100% 100%; /* Safari 3-4 */
    background-size: 100% 100%; /* Chrome, Firefox 4+, IE 9+, Opera, Safari 5+ */
}